*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(10, 10, 10);
}

.ecran{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.site{
    width: 95%;
}

.title h1{
    color: aliceblue;
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 100px;
    text-align: center;
}

.title h5{
    color: rgb(3, 194, 9);
    font-family: "Pacifico", cursive;
    font-weight: 300;
    font-style: normal;
    font-size: 70px;
    position: relative;
    padding-left: 880px;
}

.info h6{
    color: aqua;
    font-family: "Nova Mono", monospace;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    padding-top: 50px;
}

.info blue{
    color: rgb(255, 49, 176);
}

.info white{
    color: rgb(255, 255, 255);
}

.text p{
    color: rgba(240, 248, 255, 0.571);
    margin-top: 50px;
    font-size: 20px;
    font-family: "Flow Circular", system-ui;
    font-weight: 400;
    font-style: normal;
    font-style:italic;
    filter: blur(3px);
}