body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#intro {
    height: 100vh;
    background: linear-gradient(to right, #007bff, #6610f2);
    color: white;
    position: relative;
    overflow: hidden;
}

#intro h1, #intro p {
    font-size: 2.5rem;
}

.logo {
    width: 100px;
    margin-bottom: 20px;
}

#navbar {
    display: none;
}

.navbar {
    background: linear-gradient(to right, #007bff, #6610f2);
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
}

.nav-link {
    color: #e0e0e0;
    transition: color 0.3s ease-in-out;
}

.nav-link:hover {
    background-color: #1e1e1e;
    color: #ffffff;
    transition: 0.3s;
}

.cv-section {
    margin-bottom: 3rem;
}

.cv-section .goto-center{
    text-align: center;
}


.card {
    border: none;
    border-radius: 10px;
    background-color: #1e1e1e;
    color: #e0e0e0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.05) translateY(-10px);
}

.highlight {
    background: linear-gradient(to right, #ff7e5f, #feb47b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.highlight-exp{
    background: linear-gradient(to right, #01fffb, #3cff00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.efrei-link {
    position: relative;
    color: #39fff5;
    text-decoration: underline;
}

.efrei-link::after {
    content: 'Aller sur le site EFREI';
    position: absolute;
    font-weight: bold;
    bottom: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    background: #1e1e1e;
    color: #00fffb;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 0.8em;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
    pointer-events: none;
    white-space: nowrap;
}

.efrei-link:hover::after {
    opacity: 1;
    transform: translateX(-5%) translateY(-40px);
}

.image-etudiant {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -20px;
    margin-bottom: -80px;
    position: relative;
    object-position: center;
}

footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 20px 0;
}

footer a {
    color: #e0e0e0;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

@media (min-width: 768px) {
    #intro h1 {
        font-size: 4rem;
    }

    #intro p {
        font-size: 2rem;
    }
}
