/* CSS de base pour tous les appareils */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: #121212;
  color: #cccccc;
  font-size: 16px;
  line-height: 1.6;
}

h1, h2, h3 {
  font-family: 'Montserrat', sans-serif;
  color: #f5f5f5;
  font-weight: 700;
}

h1 {
  font-size: 2.5em; /* 40px */
  line-height: 1.2;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em; /* 32px */
  line-height: 1.3;
  margin-bottom: 0.5em;
}

h3 {
  font-size: 1.75em; /* 28px */
  line-height: 1.3;
  margin-bottom: 0.5em;
}

p {
  font-size: 1em; /* 16px */
  line-height: 1.8;
  color: #cccccc;
  margin-bottom: 1em;
}

.lead {
  font-size: 1.125em; /* 18px */
  line-height: 1.8;
  color: #e0e0e0;
}

ul, ol {
  margin-left: 1.5em;
  margin-bottom: 1em;
  color: #cccccc;
}

li {
  margin-bottom: 0.5em;
  line-height: 1.8;
}

a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

#intro {
  height: 100vh;
  background: linear-gradient(to right, #007bff, #6610f2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar {
  background: linear-gradient(to right, #007bff, #6610f2);
  padding: 1rem 1.5rem;
  font-size: 1rem;
  position: fixed; /* La barre de navigation reste toujours visible en haut */
  width: 100%;
  top: 0;
  z-index: 10;
}

.navbar-brand {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ffffff;
}

.navbar-nav .nav-link {
  color: #cccccc;
  margin-left: 1em;
  transition: color 0.3s ease-in-out, transform 0.3s ease-in-out;
  position: relative;
}

.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  left: 0;
  bottom: -5px;
  background-color: #007bff;
  transition: width 0.3s ease-in-out;
}

.navbar-nav .nav-link:hover {
  color: #f5f5f5;
  transform: translateY(-3px);
}

.navbar-nav .nav-link:hover::after {
  width: 100%;
}

.cv-section {
  margin-bottom: 3rem;
}

.card {
  border: none;
  border-radius: 10px;
  background-color: #1e1e1e;
  color: #cccccc;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
  padding: 2em;
}

.card h2 {
  margin-bottom: 1em;
}

.card:hover {
  transform: scale(1.02) translateY(-5px);
}













.badge-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.badge-img {
  width: 80px;
  height: auto;
  margin: 10px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.badge-img:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}


.badge-img-big {
  width: 135px;
  height: auto;
  margin: 10px;
  transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
  filter: grayscale(100%);
}

.badge-img-big:hover {
  transform: scale(1.1);
  filter: grayscale(0%);
}








.highlight {
  font-weight: bold;
  color: #007bff;
}

.highlight-exp {
  color: #e0e0e0;
}

.image-etudiant {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -20px;
  margin-bottom: -80px;
  position: relative;
}

footer {
  background-color: #1e1e1e;
  color: #cccccc;
  padding: 20px 0;
}

footer a {
  color: #cccccc;
  text-decoration: none;
}

footer a:hover {
  text-decoration: underline;
  color: #f5f5f5;
}

.buttons .button {
  display: inline-block;
  padding: 0.75em 1.5em;
  background-color: #007bff;
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

.buttons .button:hover {
  background-color: #0056b3;
  color: #ffffff;
}

#contact-green{
  display: inline-block;
  padding: 0.75em 1.5em;
  margin-top: 15px;
  background-color: #1eaa4f;
  color: #ffffff;
  font-size: 1em;
  font-weight: 700;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out;
}

#contact-green:hover {
  background-color: #00782e;
  color: #ffffff;
}




@media (max-width: 768px) {
  #intro h1 {
      font-size: 2rem;
  }

  #intro p {
      font-size: 1.25rem;
  }

  .button {
      width: 100%;
  }

  .navbar-nav .nav-link {
      margin-left: 0;
  }
}
