body {
    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: #e0e0e0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1, h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #intro {
    height: 100vh;
    background: linear-gradient(to right, #007bff, #6610f2);
    color: white;
    position: relative;
    overflow: hidden;
  }
  
  #intro h1, #intro p {
    font-size: 2.5rem;
  }
  
  #navbar {
    background: linear-gradient(to right, #007bff, #6610f2);
    padding: 1rem 1.5rem;
    font-size: 1.2rem;
  }
  
  .navbar-brand {
    font-size: 1.5rem;
  }
  
  .nav-link {
    color: #e0e0e0;
    transition: color 0.3s ease-in-out;
  }
  
  .nav-link:hover {
    background-color: #1e1e1e;
    color: #ffffff;
    transition: 0.3s;
  }
  
  footer {
    background-color: #1e1e1e;
    color: #e0e0e0;
    padding: 1rem;
  }
  
  .btn-primary {
    background-color: #007bff;
    border: none;
    transition: background-color 0.3s ease-in-out;
  }
  
  .btn-primary:hover {
    background-color: #0056b3;
  }
  